
body {
    background: #e5e5e5;
    padding: 0;
    margin: 0;
    min-width: 1900px;
}



button, 
button:active, 
button:focus {
    outline: none;
}



header {
    float: right;
}

.inner-width {
    float: right;
    width: 950px;
    height: 64px;
    background: rgba(46, 67, 196, 0.12);
    -webkit-box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.05);
            box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    margin-top: 25px;
    margin-right: 140px;
    position: relative;
    
}

.logo{
  float: left;
  margin-left: 150px;
  margin-top: 15px;
  position: relative;
}

.logo img{
  height: 125px;
  width: 236px;
}

.navigation-menu{
    
    margin: 13.5px;
    margin-left: 15px;
}

.navigation-menu a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
    text-decoration: none;
    font-family: 'Khula', sans-serif;
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 0.06em;
    color: #000000;
}

nav > a:hover {
    cursor: pointer;
}

.head_text {
    width: 1100px;
    height: 100px;
    padding-top: 230px;
    margin-left: 21.5%;
    position: inherit;
    top: -50%;
    

    font-family: "Anton", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 147px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #000000;
}



.blocks-course-level  {
    padding-top: 300px;
    position: relative;
    margin-left: 16.5%;
}

.level-course-p {
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #F7DE1F;
}

.blocks-course-level > div  {
    background: rgba(29, 41, 115, 0.85);
    -webkit-box-shadow: 3px 4px 4px rgba(23, 34, 99, 0.25);
            box-shadow: 3px 4px 4px rgba(23, 34, 99, 0.25);
    border-radius: 40px;
    width: 285px;
    height: 330px;
    float: left;
    margin: 0 4.5%;
}

.blocks-course-level > div > button {
    width: 75%;
    margin-top: 43%;
    margin-left: 13%;
}

.blocks-course-level-btn {
    background: #F7DE1F;
    -webkit-box-shadow: 3px 4px 4px rgba(189, 169, 14, 0.25);
            box-shadow: 3px 4px 4px rgba(189, 169, 14, 0.25);
    border-radius: 40px;
    display: -ms-grid;
    display: grid;
}

.blocks-course-level-p {
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.08em; 
}

.blocks-course-level > div > a {
    text-decoration: none;
}

.blocks-course-level > div > a > p:hover {
    color: #F7DE1F;
}

.blocks-course-level > div > a > p {
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #F5FAFF;
    margin-top: 8px;
}



.head-course-cor {
    position: absolute;
    width: 844px;
    height: 50px;
    margin-top: 380px;
    margin-left: 150px;
    float: left;
}

.head-course-cor > p {
    font-family: 'Taviraj', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 94px;
    letter-spacing: 0.08em;
}

.img-course-cor {
    margin-top: 440px;
    padding-left: 41%;
    position: absolute;
    width: 500px;
    height: 500px;
}

.head-course-cor-details {
    width: 508px;
    height: 50px;
    position: relative;
    margin-top: 710px;
    padding-left: 150px;
}

.head-course-cor-details > p {
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 0.08em;
}



.prob-lesson-div {
    position: relative;
    width: 220px;
    height: 220px;
    background: rgba(29, 41, 115, 0.85);
    border-radius: 40px;
    margin-left: 245px;
    margin-top: 15%;
}

.prob-lesson {
    padding-top: 12px;
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #F7DE1F;
}

.btn-prob-lesson {
    background: #F7DE1F;
    border-radius: 40px;
    width: 70%;
    height: 25%;
    margin-top: 19%;
    margin-left: 15%;
}

.p-prob-lesson {
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #000000;
}



.div-btn-other-course {
    margin-top: 100px;
    margin-left: 40%;
}

.div-btn-other-course > button {
    width: 35%;
    height: 75px;
    background: #F7DE1F;
    -webkit-box-shadow: 3px 4px 4px rgba(189, 169, 14, 0.25);
            box-shadow: 3px 4px 4px rgba(189, 169, 14, 0.25);
    border-radius: 40px;
}

.div-btn-other-course > button > p {
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 56px;
    letter-spacing: 0.08em;
    margin-top: 10px;
    margin-left: 8px;
}

.div-btn-other-course > button > p > a {
    text-decoration: none;
    color: #000000;
}



.body-course-cor {
    position: relative;
    width: 600px;
    height: 108px;
    margin-top: 100px;
    margin-left: 150px;
    float: left;
}

.body-course-cor > p {
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 0.08em;
    color: #000000;
}

.body-img-statue-of-liberty {
    position: absolute;
    float: left;
    margin-left: 150px;
    margin-top: 350px;
}

.body-p-add {
    width: 410px;
    height: 180px;
    float: right;
    margin-right: 150px;
    margin-top: 670px;
}

.body-p-add > p {
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 0.08em;
}

.prob-lesson-div-body {
    position: relative;
    width: 220px;
    height: 220px;
    background: rgba(29, 41, 115, 0.85);
    border-radius: 40px;
    margin-left: 72%;
    margin-top: 53%;
}

.prob-lesson-body {
    padding-top: 12px;
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #F7DE1F;
}

.btn-prob-lesson-body {
    background: #F7DE1F;
    border-radius: 40px;
    width: 70%;
    height: 25%;
    margin-top: 19%;
    margin-left: 15%;
}

.p-prob-lesson-body {
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #000000;
}



.prob-lesson-div-body-speak {
    position: relative;
    width: 220px;
    height: 220px;
    background: rgba(29, 41, 115, 0.85);
    border-radius: 40px;
    margin-left: 340px;
    margin-top: 26%;
}

.prob-lesson-body-speak {
    padding-top: 12px;
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #F7DE1F;
}

.btn-prob-lesson-body-speak {
    background: #F7DE1F;
    border-radius: 40px;
    width: 70%;
    height: 25%;
    margin-top: 19%;
    margin-left: 15%;
}

.p-prob-lesson-body-speak {
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #000000;
}

.body-speak {
    position: absolute;
    width: 440px;
    height: 180px;
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 0.08em;
    margin-top: 200px;
    margin-left: 450px; 
}

.body-img-speak {
    position: absolute;
    margin-top: 120px;
    margin-left: 740px;
}



.block-course-children-adult {
    margin-top: 250px;
    margin-left: 150px;
    margin-right: 150px;
    height: 500px;
    background: rgba(247, 222, 31, 0.6);
    -webkit-box-shadow: 3px 4px 4px rgba(189, 169, 14, 0.25);
            box-shadow: 3px 4px 4px rgba(189, 169, 14, 0.25);
    border-radius: 40px;

}

.block-course-children-adult > p {
    padding-top: 15px;
    padding-left: 40px;
    width: 50%;
    font-family: 'Taviraj', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 94px;
    letter-spacing: 0.08em;
    color: #000000;
}

.block-course-adult {
    float: left;
    width: 450px;
    height: 220px;
    margin-left: 135px;
    margin-top: -20px;
    background: rgba(29, 41, 115, 0.85);
    -webkit-box-shadow: 3px 4px 4px rgba(23, 34, 99, 0.25);
            box-shadow: 3px 4px 4px rgba(23, 34, 99, 0.25);
    border-radius: 40px;
}

.block-course-children {
    float: right;
    width: 450px;
    height: 220px;
    margin-right: 135px;
    margin-top: -150px;
    background: rgba(29, 41, 115, 0.85);
    -webkit-box-shadow: 3px 4px 4px rgba(23, 34, 99, 0.25);
            box-shadow: 3px 4px 4px rgba(23, 34, 99, 0.25);
    border-radius: 40px;
    z-index: 2;
}

.block-course-c {
    font-family: 'Khula', sans-serif;
    margin-top: 5%;
    margin-left: 35%;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 67px;
    letter-spacing: 0.08em;
    color: #F7DE1F;
}

.block-course-a {
    font-family: 'Khula', sans-serif;
    margin-top: 5%;
    margin-left: 19%;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 67px;
    letter-spacing: 0.08em;
    color: #F7DE1F;
}

.btn-block-course {
    width: 250px;
    height: 65px;
    margin-left: 22.5%;
    margin-top: -2.5%;
    background: #F7DE1F;
    -webkit-box-shadow: 3px 4px 4px rgba(189, 169, 14, 0.25);
            box-shadow: 3px 4px 4px rgba(189, 169, 14, 0.25);
    border-radius: 40px;
}

.btn-block-course-p {
    margin-top: 5%;
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.08em;
}



.footer-information {
    width: 805px;
    height: 520px;
    background: rgba(29, 41, 115, 0.9);
    -webkit-box-shadow: 3px 4px 4px rgba(23, 34, 99, 0.25);
            box-shadow: 3px 4px 4px rgba(23, 34, 99, 0.25);
    border-radius: 40px;
    margin-top: 560px;
    margin-right: 150px;
    float: right;
    z-index: 2;
    position: relative;
}

.footer-information > div > ul > li {
    list-style: none;
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.08em;
    color: #F7DE1F;
    margin-top: 22px;
}

.maps-footer {
    -webkit-box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    width: 700px;
    height: 100px;
    z-index: 1;
    margin-left: 150px;
    margin-top: 150px;
    position: absolute;
}

#button {
  display: inline-block;
  background-color: rgb(226, 208, 74);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color .3s, 
    opacity .5s, visibility .5s;
  -o-transition: background-color .3s, 
    opacity .5s, visibility .5s;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#button:hover {
  cursor: pointer;
  background-color: #333;
}

#button:active {
  background-color: #555;
}

#button.show {
  opacity: 1;
  visibility: visible;
}



footer {
    margin: 0 auto;
    margin-top: 150px;
    width: 100%;
    height: 300px;
    float: left;
    background: rgba(247, 222, 31, 0.6);
    -webkit-box-shadow: 2px -2px 4px rgba(189, 169, 14, 0.25);
            box-shadow: 2px -2px 4px rgba(189, 169, 14, 0.25);
    border-radius: 40px 40px 0px 0px;
    position: relative;
}

.logo-fut {
    height: 125px;
    width: 236px;
    padding-left: 150px;
    padding-top: 90px;
}

footer > ul {
    float: right;
    list-style: none;
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.08em;
}

footer > ul > li {
    padding-top: 35px;
    padding-right: 150px;
}

footer > ul > li > a {
    text-decoration: none;
    color: #000000;
    position: relative;
}

.footer-social-icons {
    position: absolute;
    padding-left: 390px;
    padding-top: 38px;
}

.footer-social-icons > ul {
    list-style: none;
}

.footer-social-icons > ul > li > a > img {
    width: 80%;
    height: 80%;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.footer-social-icons > ul > li > a > img:hover {
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
            transform: scale(1.15);
}

.social-list:after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 4px; 
	background-color: #000000; 
	content: "";
	-webkit-transition: width 0.4s ease-out;
	-o-transition: width 0.4s ease-out;
	transition: width 0.4s ease-out; 
}

.social-list:hover:after {
	width: 100%;
}