
body {
    background: #e5e5e5;
    padding: 0;
    margin: 0;
    width: 100%;
    min-width: 1900px;
}

button, 
button:active, 
button:focus {
    outline: none;
}



.kate-img > img {
    width: 95%;
    height: 95%;
}

.photo > img {
    width: 33.5%;
    height: 33.5%;
}



header {
    float: right;
}

.inner-width {
    float: right;
    width: 950px;
    height: 64px;
    background: rgba(46, 67, 196, 0.12);
    -webkit-box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.05);
            box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    margin-top: 25px;
    margin-right: 140px;
    position: relative;
    
}

.logo{
  float: left;
  margin-left: 150px;
  margin-top: 15px;
  position: relative;
}

.logo img{
  height: 125px;
  width: 236px;
}

.navigation-menu{
    
    margin: 13.5px;
    margin-left: 15px;
}

.navigation-menu a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
    text-decoration: none;
    font-family: 'Khula', sans-serif;
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 0.06em;
    color: #000000;
}



 .header-text {
    position: absolute;
    width: 100%;
    height: 150px;
    margin-top: 115px;
    margin-left: 15.5%;
}

.header-text > p {
    font-family: "Anton", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 147px;
    text-align: center;
    letter-spacing: 0.08em;
}



.kate-img {
    position: absolute;
    margin-top: 320px;
    margin-left: 18%;
    
} 


.obs-course {
    position: absolute;
    width: 500px;
    height: 100px;
    margin-top: 20%;
    margin-left: 51%;
}

.obs-course > p {
    font-family: 'Taviraj', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 82px;
    letter-spacing: 0.08em;
}



.list-course {
        position: absolute;
        margin-top: 30%;
        margin-left: 51%;
}

.list-course > ul > li {
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 43px;
    letter-spacing: 0.08em;
}



.secti {
    width: 1100px;
    height: 400px;
    position: absolute;
    margin-left: 18%;
    margin-top: 50%;
}

.secti > section {
    text-align: start;
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 43px;
    letter-spacing: 0.08em;
}



.other-teach {
    width: 1100px;
    height: 400px;
    position: absolute;
    margin-left: 18%;
    margin-top: 70%;
}

.other-teach > section {
    font-family: 'Taviraj', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 82px;
    letter-spacing: 0.08em;
}


.photo {
    float: left;
    margin-top: 76%;
    margin-left: -2.4%;
}

.photo > img {
    margin-right: 50px;
}

.photo > p {
    position: absolute;
    margin-left: 210px;
    margin-top: -6.5%;
    font-family: "Anton", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.08em;
}



.prob-les {
    width: 900px;
    height: 350px;
    position: absolute;
    text-align: center;
    float: left;
    margin-top: 1900px;
    margin-left: 26.9%;
    background: rgba(29, 41, 115, 0.85);
    border-radius: 40px;
}

.prob-les > p {
    width: 800px;
    margin-top: 30px;
    margin-left: 6%;
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: 0.08em;
    color: #F7DE1F;
}

.prob-les > button {
    width: 60%;
    height: 70px;
    margin-top: 5%;
    margin-left: 0%;
    background: #F7DE1F;
    border-radius: 40px;
}

.prob-les > button > p {
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #1D2973;
    margin-top: 3%;
}



#button {
  display: inline-block;
  background-color: rgb(226, 208, 74);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color .3s, 
    opacity .5s, visibility .5s;
  -o-transition: background-color .3s, 
    opacity .5s, visibility .5s;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}



footer {
    margin-top: 700px;
    width: 100%;
    height: 300px;
    float: left;
    background: rgba(247, 222, 31, 0.6);
    -webkit-box-shadow: 2px -2px 4px rgba(189, 169, 14, 0.25);
            box-shadow: 2px -2px 4px rgba(189, 169, 14, 0.25);
    border-radius: 40px 40px 0px 0px;
    position: relative;
    min-height: 100%;
}

.logo-fut {
    height: 125px;
    width: 236px;
    padding-left: 150px;
    padding-top: 90px;
}

footer > ul {
    float: right;
    list-style: none;
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.08em;
}

footer > ul > li {
    padding-top: 35px;
    padding-right: 150px;
}

footer > ul > li > a {
    text-decoration: none;
    color: #000000;
    position: relative;
}

.footer-social-icons {
    position: absolute;
    padding-left: 390px;
    padding-top: 38px;
}

.footer-social-icons > ul {
    list-style: none;
}

.footer-social-icons > ul > li > a > img {
    width: 80%;
    height: 80%;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.footer-social-icons > ul > li > a > img:hover {
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
            transform: scale(1.15);
}

.social-list:after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 4px; 
	background-color: #000000; 
	content: "";
	-webkit-transition: width 0.4s ease-out;
	-o-transition: width 0.4s ease-out;
	transition: width 0.4s ease-out; 
}

.social-list:hover:after {
	width: 100%;
}